# {{.Title}}

| Field | Value |
|-------|-------|
| Kernel | {{.Kernel}} |
| Distribution | {{.Distro}} |
| Hostname | {{.Hostname}} |
| Uptime | {{.Uptime}} |
| Timezone | {{.Timezone}} |
| Load Average | {{.LoadAvg}} |